*
  padding 5px
  ::-webkit-input-placeholder
    color orange
  :-moz-placeholder
    color orange
  ::-moz-placeholder
    color orange
  :-ms-input-placeholder
    color orange
.logo
    //display inline-block
    
    .cintillo
      float center
      margin-left 0px
      margin-top -20px
    
.titulo
  //color #ccc
  font-size 12px
  margin-top 50px
  text-align center
 
.estudiante, .profesor
  display inline-block 
  font-size 12px   
  margin-top 20px 
/*.profesor 
  width 600px auto
  padding 10px 35px
  .campos
    
    width 600px  
    margin-top 15px */ 
         
.datos
  font-size 0.9em
  padding-left 0px
  width 100%
  margin-left 0px
  
  
  .codigo
    display inline-block
    width 10%
  .materia
    display inline-block
    width 40%
  .nota
    display inline-block
    text-align right
    width 6%    
  .uc 
    display inline-block
    text-align right
    width 6%
  .porcentaje
    display inline-block 
    text-align right
    width 12%
  .periodo
    display inline-block
    text-align right 
    width 8%
  .apellido
    display inline-block
    width 50%